/* this file is loaded by index.html and styles the page */

.myheader {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#hdiv1 {
  align-self: center;
  height: 80px;
  font-size: 2em;
}

#hdiv2 {
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
}

h1 {
  font-weight: 200;
  display: inline;
  color: #2a2d7c;
}

h2 {
  font-weight: 600;
  display: inline;
  color: #c9523d;
}

h3 {
  font-weight: 300;
  color: black;
}

countdn {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 400px;
}

countdn > span {
  color: white;
  font-weight: 400; 
  font-size: 150px; 
}


footer {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #c6d2da;
  height: 800px;
}

#foothd {
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 70px;
}

f1 {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 2.3em;
}

#footbdy {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

f2 {
  font-weight: 200;
  color: black;
  font-size: 2em;
}
