body {
  display: flex;
  flex-direction: column;
  height: 3400px;
}

header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  margin-bottom: auto;
}

.headerdiv1 {
  align-self: center;
  font-size: 30px;
}

.headerdiv2 {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
}

h1 {
  font-weight: 200;
  display: inline;
  color: #2a2d7c;
}

h2 {
  font-weight: 600;
  display: inline;
  color: #c9523d;
}

h3 {
  font-weight: 300;
  color: black;
}

.clock {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 300px;
}

.clock > span {
  color: white;
  font-weight: 400; 
  font-size: 150px; 
}

main {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  height: 2100px;
}

.maintitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  width: 980px;
}

.title1 {
  text-align: center;
  font-weight: 400;
  font-size: 70px;
}

.title2 {
  font-weight: 400;
  font-size: 45px;
}

.slideshow {
  background-color: black;
  position: relative;
  height: 770px;
  width: 980px;
}

.caption {
  color: #f2f2f2;
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
}

.number {
  color: #f2f2f2;
  font-size: 30px;
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  color: white;
  top: 50%;
  font-size: 50px;
  padding: 30px;
  margin-top: -35px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slide {
  display: none;
}

.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-color: #c6d2da;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #778a93;
}

.main1 {
  font-weight: 400;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.main2 {
  font-weight: 400;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

footer {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #c6d2da;
  margin-top: auto;
  width: 100%;
}

.footdiv {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  height: 200px;
}

.foothd {
  height: 100px;
  font-weight: 600;
  color: black;
  font-size: 37px;
}

.footbdy {
  height: 100px;
  font-weight: 200;
  color: black;
  font-size: 35px;
}

@media only screen and (min-width: 981px) {
  body {
    height: 1500px;
  }
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 20px;
  }
  .headerdiv1 {
    font-size: 15px;
  }
  .headerdiv2 {
    font-size: 20px;
    width: 200px;
  }
  .clock {
    height: 250px;
  }
  .clock > span {
    font-size: 90px;
  }
  main {
    height: 1300px;
  }
  .maintitle {
    height: 100px;
    width: 870px;
  }
  .title1 {
    font-size: 36px;
  }
  .title2 {
    font-size: 30px;
  }
  .slideshow {
    height: 580px;
    width: 870px;
  }
  .caption {
    font-size: 17px;
    color: white;
    left: 12%;
    left: 70px; 
    bottom: 25px;
  }
  .dot {
    height: 20px;
    width: 20px;
  }
  .main1 {
    width: 870px;
    font-size: 19px;
  }
  .main2 {
    width: 870px;
    font-size: 19px;
  }
  footer {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .footdiv {
    margin-top: 30px;
    height: 150px;
  }
  .foothd {
    height: 30px;
    font-size: 17px;
  }
  .footbdy {
    height: 50px;
    font-size: 14px;
  }
}
